<div class="main-container">
    <mat-card>
        <mat-card-title>About</mat-card-title>
        <mat-card-content>
            <p>
                Tulip is a simple web application that allows users to create and manage their own to-do lists.
            </p>
            <p>
                This application was created as a learning exercise for the <a href="https://angular.io/"
                    target="_blank">Angular</a> framework.
            </p>
            <p>
                The source code for this application can be found on <a href="#" target="_blank">GitHub</a>.
        </mat-card-content>
    </mat-card>
</div>