<div>
<header>
        <h1>Patrick E Cuauro Nava</h1>
        <p>Electric Engineer & Web Developer</p>
    </header>

    <!-- <img src="../../assets/Patrick-profile-pic.jpg" alt="LionPat20" height="200px" width="180px"> -->
     <!-- <a href="https://imgbox.com/Slqu2Stt" target="_blank"><img src="https://thumbs2.imgbox.com/26/d6/Slqu2Stt_t.jpg" alt="Patrick photo"/></a> -->
    <section id="contact">
        <h2>Contact Information</h2>
        <ul>
            <li>Email: <a href="mailto:patrickcuauro@gmail.com">patrickcuauro@gmail.com</a></li>
            <li>Phone: (786)273-2900</li>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/patrick-cuauro-b6225027/">linkedin.com/in/patrickcuauro</a></li>
            <li>Web3 domain: <a href="https://pcuauronava.github.io/portfolio/tulip/">Patrickcuauro.webmaster</a></li>
        </ul>
    </section>

    <section id="summary">
        <h2>Professional Summary</h2>
        <p>Engineer with a combined background in electronics, computer science, and web development. Skilled in networking, troubleshooting, creative innovation, and web applications. Eager to leverage strong analytical and problem-solving skills to contribute to a dynamic team.</p>
    </section>

    <section id="experience">
        <h2>Work Experience</h2>
        <article>
            <h3>Computer Ride Show Technician</h3>
            <p>Walt Disney World Resorts, Orlando, Florida</p>
            <p>Magic Kingdom South - Adventureland - Pirates of the Caribbean</p>
            <p>April 2025 – Now</p>
            <ul>
                <li>Provide Corrective and Preventive maintenance to equipment attraction</li>
                <li>Support and management of Electric Motors, sensors and controllers</li>
                <li>Support and maintenance to Audio-animatronics</li>
            </ul>
        </article>
        <article>
            <h3>Ride Show Technician</h3>
            <p>Walt Disney World Resorts, Orlando, Florida</p>
            <p>Epcot - Future World - Test Track</p>
            <p>January 2018 – April 2025</p>
            <ul>
                <li>Provide corrective and planned maintenance to the attraction equipment</li>
                <li>Repair, maintain, ensure safe and secure activities of ride show vehicles</li>
                <li>Upgrade ride control system</li>
            </ul>
        </article>
    </section>

    <section id="education">
        <h2>Education</h2>
        <article>
            <h3>Bachelors Degree, Web Development</h3>
            <p>Bellevue University, Omaha, Nebraska</p>
            <p>2023</p>
        </article>
        <article>
            <h3>Electrical Engineering, Telecommunications</h3>
            <p>URBE University, Maracaibo, Zulia</p>
            <p>2005</p>
        </article>
    </section>

    <section id="skills">
        <h2>Skills</h2>
        <ul>
            <li>Electrical Troubleshooting</li>
            <li>Analytic</li>
            <li>Team manager</li>
            <li>Goal focused</li>
            <li>Safety awareness</li>
        </ul>
    </section>
</div>
